<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="contabm_mongodb_connectionString" value="mongodb://192.168.1.2:27017/contabm" />
  <add key="contabM_mongodb_name" value="contabm" />
  <add key="contabM_address" value="http://192.168.1.2:3020" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>

