<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="contabm_mongodb_connectionString" value="mongodb+srv://contabm_user:locktonve01@cluster0-8jpsb.mongodb.net/test?retryWrites=true&amp;w=majority" />
  <add key="contabM_mongodb_name" value="contabm_lockton" />
  <add key="contabM_address" value="https://contabmlockton.meteorapp.com" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>