<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NominaASP" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=dbContabXL;Integrated Security=True;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
  <add name="dbNominaEntities" connectionString="metadata=res://*/Models.NominaModel.csdl|res://*/Models.NominaModel.ssdl|res://*/Models.NominaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=dbContabXL;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="dbContabEntities" connectionString="metadata=res://*/Models.Contab.ContabModel.csdl|res://*/Models.Contab.ContabModel.ssdl|res://*/Models.Contab.ContabModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=dbContabXL;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="dbContabConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=dbContabXL;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <add name="localdbNominaEntities" connectionString="metadata=res://*/Models.LocalDb.LocaldbNominaModel.csdl|res://*/Models.LocalDb.LocaldbNominaModel.ssdl|res://*/Models.LocalDb.LocaldbNominaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=dbContabXL;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="dbContabUserEntities" connectionString="metadata=res://*/Models.Users.UserModel.csdl|res://*/Models.Users.UserModel.ssdl|res://*/Models.Users.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=dbContabXL;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>